<template>
    <div class="panel panel-default">
        <div class="panel-heading">Publicado en {{ user.created_at }} - Última Atualização: {{ user.updated_at }}</div>

        <div class="panel-body">

            <input v-if="editMode" type="text" class="form-control" v-model="user.name">
            <p v-else>{{ user.name }}</p>

            <input v-if="editMode" type="text" class="form-control" v-model="user.email">
            <p v-else>{{ user.email }}</p>
        </div>

        <div class="panel-footer">
            <button v-if="editMode" class="btn btn-success" v-on:click="onClickUpdate()">
                Salvar
            </button>
            <button v-else class="btn btn-default" v-on:click="onClickEdit()">
                Editar
            </button>

            <button class="btn btn-danger" v-on:click="onClickDelete()">
                Deletar
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                editMode: false
            };
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods: {

            onClickDelete()
            {
                axios.delete(`/users/${this.user.id}`).then(() => {
                    this.$emit('delete');
                });
            },

            onClickEdit()
            {
                this.editMode = true;
            },

            onClickUpdate()
            {
                const params = {
                    name: this.user.name,
                    email: this.user.email,
                };

                axios.put(`/users/${this.user.id}`, params).then((response) => {
                    this.editMode = false;
                    const user = response.data;
                    this.$emit('update', user);
                });
            }
        }
    }
</script>
