<template>
    <div class="panel panel-default">
        <div class="panel-heading">Formulario Usuario</div>

        <div class="panel-body">
            <form action="" v-on:submit.prevent="newUser()">
                <div class="form-group">
                    <label for="user">Name</label>
                    <input type="text" class="form-control" name="thought" v-model="name">
                </div>
                <div class="form-group">
                    <label for="user">email</label>
                    <input type="text" class="form-control" name="thought" v-model="email">
                </div>
                <div class="form-group">
                    <label for="user">password</label>
                    <input type="password" class="form-control" name="thought" v-model="password">
                </div>
                <button type="submit" class="btn btn-primary">
                    Enviar
                </button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name     : '',
                email    : '',
                password : '',
            }
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            newUser()
            {
                const params = {
                    name     : this.name,
                    email    : this.email,
                    password : this.password,
                };

                this.name     = '';
                this.email    = '';
                this.password = '';

                axios.post('/users', params)
                    .then((response) => {
                        const user = response.data;
                        this.$emit('new', user);
                    });
            }
        }
    }
</script>
